*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: PP mori;
    cursor: none;
    /* overflow: hidden; */
}
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #EDBFFF;
    z-index: 8;
    position: fixed;
    mix-blend-mode: difference;
    transition: background-image ease 0.5s;
}
#main{
    background-color: #0F0D0D;
    
}
.page1{
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 9;

}
nav{
    height: 10vh;
    width: 100%;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
nav>ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
nav>ul>li:nth-child(1){
    border-bottom: 1.5px solid #fff;
}
nav>img{
    height: 27px;
}
nav>div{
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50px;
}
.page1 h1{
    font-size: 8vw;
    font-weight: 300;
    margin-left: 5vw;
    margin-top: 10vw;
    
}
.page1 h2{
    font-size: 8vw;
    font-weight: 400;
    margin-left: 27vw;
}
.page2{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 4vw 6vw;
}
.page2-left{
    width: 70%;
    color: #0F0D0D;
}
.page2-left>h1{
    font-size: 6vw;
    font-weight: 400;
}
.page2-left>h2{
    width: 50%;
    margin-top: 50px;
    font-size: 4vw;
    font-weight: 400;
}
.page2-right{
    width: 30%;
    font-size: 2.6vw;
    color: #0F0D0D;
}
.page2-right>button{
    width: 100%;
    padding: 5px 0;
    outline: none;
    border: none;
    border-radius: 50px;
    margin-top: 30px;
    background: #EDBFFF;
}
.page3{
    height: 130vh;
    width: 100vw;
    background: #fff;
    color: #000;
}
.page3>h1{
    font-size: 7vw;
    margin-left: 6vw;
    padding-top: 5vw;
}
.page3-content{
    display: flex;
    justify-content: flex-start;
}
.page3-content>img{
    height: 60vh;
    position: relative;
    top: 40vh;
}
.page3-content>video{
    height: 70vh;
    position: relative;
    left: 10vw;
}
.page4{
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 100px 50px;
}
.elem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
}
.elem img{
    position: absolute;
    height: 50vh;
    opacity: 0;
    transition: all ease-out 0.5s;
}
.elem img:nth-child(1){
    left: 2%;
}
.elem img:nth-child(3){
    right: 5%;
}
.text-div{
    height: 20vh;
    font-size: 5vw;
    font-weight: 600;
    overflow: hidden;
    z-index: 8;
}
.text-div h1{
    transition: all ease-out 0.5s;
}
.text-div:hover h1{
    transform: translateY(-100%);
    transition: all ease-out 0.5s;
    color: #EDBFFF;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(2deg);
    transition: all ease-out 0.5s;
}

.page5{
    height: 100vh;
    width: 100vw;
    padding: 5vw 10vw;
    position: relative;
}
.page5 h2{
    font-size: 5vw;
    font-weight: 300;
    margin-bottom: 4vw;
    
}
.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: 2vw;
    padding-right: 2vw;
    border-top: 2px solid #dadada;
    
}

.feature:last-child{
    border-bottom: 2px solid #dadada;

}
.feature h4{
    font-size: 2vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}
footer{
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
